---
layout: base
---
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        {{ site.title }}
      </h1>
      {% if site.subtitle %}
      <h2 class="subtitle">
        {{ site.subtitle }}
      </h2>
      {% endif %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    {% include assign_all_events.html %}
    <div class="columns is-centered is-multiline">
      {% for event in all_events %}
      <div class="column is-one-third">
        {% include event_card.html event=event featured=event.featured %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include assign_past_events.html %}
{% if past_events != "" %}
<section class="section">
  <div class="container">
      <h1 class="title">Past Events</h1>
      <hr>
      <div class="columns is-centered is-multiline">
        {% for event in past_events %}
        <div class="column is-one-third">
          {% include event_card.html event=event featured=event.featured %}
        </div>
        {% endfor %}
      </div>
  </div>
</section>
{% endif %}

{% include footer.html %}
