Flask
git+https://github.com/hasgeek/coaster.git
git+https://github.com/hasgeek/baseframe.git
Flask-SQLAlchemy
git+https://github.com/hasgeek/flask-lastuser.git
Flask-Migrate
ruamel.yaml
behave
icalendar
