<script type="text/javascript">
$(document).ready(function() {

  var boxofficeUrl = "https://boxoffice.hasgeek.com";

  $.get({
    url: boxofficeUrl + "/api/1/boxoffice.js",
    crossDomain: true,
    timeout: 8000,
    retries: 5,
    retryInterval: 8000,
    success: function(data) {
      var boxofficeScript = document.createElement('script');
      boxofficeScript.innerHTML = data.script;
      document.getElementsByTagName('body')[0].appendChild(boxofficeScript);
      window.setTimeout(function() {
        window.Boxoffice.init({
          org: "hasgeek",
          itemCollection: "{{ page.boxoffice_item_collection }}",
          paymentDesc: "{{ page.title }}"
        });
      }, 1000);

      window.setTimeout(function() {
        $('#boxoffice-widget .boxoffice-section').ready(function() {
          $.each($('.ticket-title'), function(index, ticket){
            var ticketTitle = $(ticket).text().toLowerCase();
            if (ticketTitle.indexOf('speaker') > -1 || ticketTitle.indexOf('sponsor') > -1) {
              var price = $(ticket).parents(".ticket-booking").find('p.discount-price').text();
              if (price !== "₹0") {
                $(ticket).parents(".ticket-booking").hide();
              }
            }
          });
        });
      }, 4500);
    },
    error: function(response) {
      var ajaxLoad = this;
      ajaxLoad.retries -= 1;
      var errorMsg;
      if (response.readyState === 4) {
        errorMsg = "Server error, please try again later.";
        $('#boxoffice-widget p').html(errorMsg);
      }
      else if (response.readyState === 0) {
        if (ajaxLoad.retries < 0) {
          if(!navigator.onLine) {
            errorMsg = "Unable to connect. There is no network!";
            $('#boxoffice-widget p').html(errorMsg);
          }
          else {
            errorMsg = "<p>Unable to connect. If you are behind a firewall or using any script blocking extension (like Privacy Badger), please ensure your browser can load boxoffice.hasgeek.com, api.razorpay.com and checkout.razorpay.com .</p>";
            $('#boxoffice-widget p').html(errorMsg);
          }
        } else {
          setTimeout(function() {
            $.get(ajaxLoad);
          }, ajaxLoad.retryInterval);
        }
      }
    }
  });
});
</script>
