<style type="text/css">
  #boxoffice-widget .boxoffice-button-action {
    background-color: #E05F26;
    border-color:  #B94C1D;
    color: #fff;
  }
  #boxoffice-widget .boxoffice-button-info {
    background-color: #5BC0DE;
    border-color: #2A9CBE;
    color: #fff;
  }
  #boxoffice-widget .payment-stages-bg {
    background-color: #3E50A3;
  }
  #boxoffice-widget .progress-indicator>li {
    color: #fff;
  }
  #boxoffice-widget .progress-indicator>li.active {
  color: #fff;
  }
  #boxoffice-widget .category-heading {
    background-color: #337ab7;
    border-bottom: 3px solid #3e50a3;
    color: #fff;
    line-height: 1.1;
  }
  #boxoffice-widget .category-heading:after {
    border-color: #337ab7 #fff #337ab7 #337ab7;
  }
  #boxoffice-widget .ticket-description ol {
    list-style-position: inside;
    padding-left: 20px;
  }
</style>
