<div class="column is-4" style="margin-top: 32px;">
  <img src="https://images.hasgeek.com/embed/file/9851a3e601194e3287f5ed24837dbee6" alt="">
  <h3 class="title is-6 uppercase"><strong>Childcare at {{ site.title }}</strong></h3>
  <p>We welcome children at {{ site.title }}. If you are a primary caretaker who wants to attend the conference and needs support with childcare, we have it all arranged. <a href="https://medium.com/hasgeek/we-have-childcare-facilities-droidconin-and-all-hasgeek-conferences-going-forward-70d520762a11">Learn more</a>.</p>
</div>
