<div class="column is-4" style="margin-top: 32px;">
  <div class="">
    <div class=""><img src="https://images.hasgeek.com/embed/file/f66bafb482dc42abaff503f9857a6212" alt=""></div>
    <h3 class="title is-6 uppercase"><strong>Community Space</strong></h3>
    <div class="content">
        Are you an open source community, non-profit org? We invite you to be part of HasGeek conferences. <a href="https://docs.google.com/forms/d/e/1FAIpQLSetkz1PAjwrzSDNZuxFRoqOe3E9ZWHExtXzwSfEXhNQ0EGF_w/viewform">Apply here</a>.
    </div>
  </div>
</div>
