<div class="card is-clickable" onclick="goToUrl('{{site.url}}{{site.baseurl}}{{ include.event.url }}')">
  {% if include.featured == true%}
  <header class="card-content">
    <p class="title">
      {{ include.event.title }}
    </p>
    <p class="subtitle is-6">
      {{ include.event.datelocation }}
    </p>
    {% if include.event.boxoffice_item_collection %}
    <span class="tag is-primary">Tickets now available</span>
    {% endif %}
    {% if include.event.funnel %}
    <span class="tag is-info">Call for Proposals are open</span>
    {% endif %}
  </header>
  {% endif %}
  <div class="card-content">
    <div class="content">
      {% if include.featured != true%}
      <p class="title is-4">
        {{ include.event.title }}
      </p>
      <p class="subtitle is-6">
        {{ include.event.datelocation }}
      </p>
      {% endif %}
      <p>{{ include.event.description }}</p>
    </div>
  </div>
</div>
