{% if include.event.url contains "://" %}
  {% assign event_url = include.event.url %}
{% else %}
  {% assign event_url = include.event.url | absolute_url %}
{% endif %}

<div class="card is-clickable" onclick="goToUrl('{{ event_url }}')" style="height:21rem; overflow: hidden;">
  <div class="card-content">
    <p class="title is-4">
      {{ include.event.title }}
    </p>
    {% if include.event.datelocation %}
    <p class="subtitle is-6">
      {{ include.event.datelocation }}
    </p>
    {% endif %}

    {% if include.event.boxoffice_item_collection %}
    <span class="tag is-primary">Tickets now available</span>
    {% endif %}
    {% if include.event.funnel.open == true %}
    <span class="tag is-info">Call for Proposals are open</span>
    {% endif %}
    <div class="content">
      <p>{{ include.event.description | truncate: 260, "..." | markdownify }}</p>
    </div>
  </div>
</div>
