
<div class="has-text-centered">
    <h3 class="title">{{ include.title }}</h3>
    <br>
</div>

<div class="columns featured-video">
  <div class="column is-2 is-hidden-mobile">
  </div>
  <div class="column is-8">
    <div class='embed-container'><iframe src='{{ include.youtube_embed }}' frameborder='0' allowfullscreen></iframe>
    </div>
    <div class="has-text-centered">
      <a class="button is-primary" href="{{ page.hasgeektv-event-playlist-link.url }}" target="_blank">Watch more videos on HasGeek TV</a>
    </div>
  </div>
</div>

