<div class="has-text-centered">
  <h3 class="title">Featured Talks</h3>
  <br>
</div>
<div class="columns is-centered is-multiline">
  {% if include.instructors %}
    {% assign speakers = include.instructors %}
  {% else %}
    {% assign speakers = include.speakers %}
  {% endif %}
  {% for speaker in speakers %}
  <div class="column is-6">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-128x128" style="background-image: url('{{ speaker.image_url }}'); background-size: cover; background-position: center;">
            </figure>
          </div>
          <div class="media-content">
            <h1 class="title is-5"><a href="{{ speaker.funnel_url }}" target="_blank">{{ speaker.talk_title }}</a></h1>
            <h2 class="title is-6">{{ speaker.name }}</h2>
            <h2 class="subtitle is-6">{{ speaker.designation }}</p>
            {% if speaker.website %}
              <a href="{{ speaker.website.url }}" target="_blank">{{ speaker.website.label }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
