<footer class="footer" id="hasgeek">
  <div class="container">
    <div class="content has-text-centered">
      <img src="https://hasgeek.com/static/img/hg-banner.png" alt="" width="100px"><br><br>
      <p>{{ site.title }} is presented to you by HasGeek.</p>
      <p><a href="http://hasgeek.com/" target="_blank">HasGeek</a> helps people in technology meet each other, collaborate on new opportunities and advance the state of the art. We organize conferences, hacknights, workshops and geekups, and provide tools for communities to self-organize.</p>
      <p>We’ve created conferences around the themes of <a href="http://metarefresh.in/" target="_blank">front end engineering</a>, <a href="http://fifthelephant.in/" target="_blank">big data and cloud computing</a>, <a href="http://jsfoo.in/" target="_blank">JavaScript</a>, <a href="http://droidcon.in/" target="_blank">Android</a>, <a href="http://cartonama.com/" target="_blank">location-aware services</a> and <a href="http://rootconf.in/" target="_blank">DevOps</a>. Our <a href="http://hasjob.co" target="_blank">Job Board</a> is used by thousands of geeks every month to find new opportunities.</p>
      <p>HasGeek is a technology company in the media business, bringing software automation to a traditionally people-intensive operation. HasGeek has organized over two dozen conferences attended by thousands of technology professionals, made several thousand connections, and built open source tools that are now used by many communities.</p>
      <p>Email us: <a href="mailto:info@hasgeek.com">info@hasgeek.com</a> | Call us: <a href="tel:+917676332020">+91 7676 33 2020</a></p>
      <p>Copyright © 2010-2018</p>
      <p>All rights reserved</p>
    </div>
  </div>
</footer>
