<div class="has-text-centered">
  <h3 class="title">Instructors</h3>
</div>
<div class="columns is-centered">
  {% for instructor in include.instructors %}
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64" style="background-image: url('{{ instructor.image_url }}'); background-size: cover; background-position: center;">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ instructor.name }}</p>
            <p class="subtitle is-6">{{ instructor.byline }}</p>
          </div>
        </div>
        <div class="content">
          {{ instructor.bio | markdownify }}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
