<div class="has-text-centered">
  <h1 class="title">Venue</h1>

  <div id="venue-map" class="leaflet-map" data-label="{{ include.venue.label }}" data-marker="{{ include.venue.lat }},{{ include.venue.lng }}" data-tileLayer="{{ include.venue.leaflet.tileLayer }}" style="height: 400px; width: 100%; z-index: 0;"><h2>Loading...</h2></div>
  <br>
  {% if include.venue.address %}
  <div class="content">
    {{ include.venue.address | markdownify }}
  </div>
  {% endif %}
  {% if include.venue.google_maps_url %}
  <a class="button is-primary" href="{{ include.venue.google_maps_url }}" target="_blank">Directions</a>
  {% endif %}
</div>
