<div class="columns">
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Photos</p>
      </header>
      <div class="card-image">
        <a href="{{ include.photos_url }}" target="_blank"><figure class="image is-3by2">
          <img src="https://c1.staticflickr.com/5/4185/33827284114_3f1abb2e79_k.jpg">
        </figure></a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Videos</p>
      </header>
      <div class="card-image">
        <a href="{{ include.videos_url }}" target="_blank"><figure class="image is-3by2">
          <img src="https://c1.staticflickr.com/5/4181/34508119382_dce083ecd7_k.jpg">
        </figure></a>
      </div>
    </div>
  </div>
</div>
