{% extends "layouts/base.html.jinja2" %}
{% import "components/cards.html.jinja2" as cards %}
{% block content %}
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        {{ ctx.title }}
      </h1>
      <h2 class="subtitle">
        {{ ctx.subtitle }}
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered is-multiline">
      {% for event in current_events %}
      <div class="column is-one-third">
        {{ cards.event(event=event) }}
      </div>
      {% endfor %}
    </div>

  </div>
</section>

{% if past_events %}
<section class="section">
  <div class="container">
      <h1 class="title">Past Events</h1>
      <hr>
      <div class="columns is-centered is-multiline">
        {% for event in past_events %}
        <div class="column is-one-third">
           {{ cards.event(event=event) }}
        </div>
        {% endfor %}
      </div>
  </div>
</section>
{% endif %}

{% include "components/footer.html" %}
{% endblock %}
