{% macro content_columns_markdown(left_content=None, center_content=None, right_content=None) -%}
<div class="columns">
    {% if left_content %}
    <div class="column">
      <div class="content">
        {{ left_content | markdown }}
      </div>
    </div>
    {% endif %}
    {% if center_content %}
    <div class="column">
      <div class="content">
        {{ center_content | markdown }}
      </div>
    </div>
    {% endif %}
    {% if right_content %}
    <div class="column">
      <div class="content">
        {{ right_content | markdown }}
      </div>
    </div>
    {% endif %}
</div>
{%- endmacro %}
