<!DOCTYPE html>
<html lang="en" class="svg inlinesvg">
  <head>
    <title>{{ ctx.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="theme-color" content="{{ ctx.colors.primary }}"/>
    <meta name="description" content="{{ ctx.meta.description }}">
    <meta name="keywords" content="{{ ctx.meta.keywords }}">
    <link rel="shortcut icon" href="{{ ctx.meta.favicon }}" />
    {% if ctx.canonical %}
    <link rel="canonical" href="{{ page.canonical }}" />
    {% endif %}

    <meta property="og:url" content="{{ ctx.meta.og.url }}">
    <meta property="og:image" content="{{ ctx.meta.og.image }}">
    <meta property="og:description" content="{{ ctx.meta.og.description }}">
    <meta property="og:title" content="{{ ctx.meta.og.title }}">
    <meta property="og:site_name" content="{{ ctx.meta.og.site_name }}">
    <meta property="og:see_also" content="{{ ctx.meta.og.see_also }}">
    <meta property="og:type" content="{{ ctx.meta.og.type }}">

    <meta itemprop="name" content="{{ ctx.meta.title }}">
    <meta itemprop="description" content="{{ ctx.meta.description }}">
    <meta itemprop="image" content="{{ ctx.meta.image }}">

    <meta name="twitter:card" content="{{ ctx.meta.twitter.card }}">
    <meta name="twitter:url" content="{{ ctx.meta.twitter.url }}">
    <meta name="twitter:title" content="{{ ctx.meta.twitter.title }}">
    <meta name="twitter:description" content="{{ ctx.meta.twitter.description }}">
    <meta name="twitter:image" content="{{ ctx.meta.twitter.image }}">


    <link rel="manifest" href="{{ ctx.meta.manifest }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

{% block content %}{% endblock %}


<script type="application/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/mustache.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<script>
    window.Event = {};
</script>
<script>
  $(document).ready( function() {

    var stickyNav = $(".nav-sticky");
    var navHeight;
    if (stickyNav.length > 0) {
      stuck = "nav-stuck";
      headerHeight = $(stickyNav[0]).offset().top;
      nextSibling = stickyNav.parent().next()[0];
      navHeight = stickyNav[0].clientHeight;
      $(window).scroll(function() {
        if( $(this).scrollTop() > headerHeight) {
          stickyNav.parent().addClass(stuck);
          nextSibling.style.marginTop = navHeight+"px";
        } else {
          stickyNav.parent().removeClass(stuck);
          nextSibling.style.marginTop = 0;
        }
      });
    }
    $("a").click(function (e) {
      var goto = $(this).attr('data-href');
      if (goto) {
        // Prevent a page reload when a link is pressed
        e.preventDefault();
        // Scroll to section
        var offset_top = $(goto).offset().top - navHeight || 0;
        $("body,html").stop(true,true).animate({scrollTop:offset_top},300)
      }
    });

    {% if event.venue %}
      initLeaflets();
    {% endif %}

{#    $('#sidebar').show();#}
{#    $('.nav-toggle').sidr({#}
{#      name: 'sidebar',#}
{#      source: '#sidebar',#}
{#      renaming: false#}
{#    });#}

  })

  function goToUrl(url) {
    window.location.href = url;
  }
  function showModal(modalId) {
    $('#'+modalId).addClass('is-active');
  }
  function hideModal(modalId) {
    $('#'+modalId).removeClass('is-active');
  }
</script>
{% block footer_scripts %}{% endblock %}

<script type="application/javascript" src="{{ url_for('static', filename='js/schedule.js') }}"></script>
</body>
</html>
