---
layout: base
---
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        {{ page.title }}
      </h1>
      <h2 class="subtitle">
        {{ page.subtitle }}
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
     <div class="columns is-centered">
       <div class="column is-half">
         <div class="content">
         {{ content | markdownify }}
         </div>
       </div>
     </div>
  </div>
</section>

{% include footer.html %}
