@import "bulma_material_variables";

$primary: #826995;
$info: #514F74;
$link-hover: darken($primary, 10);
$button-hover: darken($primary, 10);

@import "_bulma/bulma";
@import "bulma_material_overrides";
@import "navbar_dropdown";
@import "schedule";
@import "proposal_card";
@import "boxoffice";
